footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  font-size: var(--body-font-size-xs);
  font-family: var(--light-font-family);
  width: 100%;
  z-index: 2;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

footer .footer a {
  color: var(--footer-text-color);
  text-decoration: none;
}

footer .footer a:hover {
  color: var(--main-accent-color);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 50px 32px;
  }
}
